@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);

  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-a-header.is-open .q-a-header-background {
  left: 0;
}
.q-a-header-button-wrapper {
  margin-left: auto;
}
.q-a-header-icon {
  display: none;
}

.q-a-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-a-navigation-list.is-open {
  right: 0;
}
.q-a-header-icon-menu {
  display: block;
}

.q-a-header-icon-button.is-open .q-a-header-icon-menu {
  display: none;
}

.q-a-header-icon-button.is-open .q-a-header-icon-close {
  display: block;
}

.q-a-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(0, 109, 65, 1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

.q-a-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(0, 109, 65, 1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}
.q-a-header.is-open .q-a-header-background {
  left: 0;
}
.q-a-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-a-header-icon-menu {
  display: block;
}

.q-a-header-icon-button.is-open .q-a-header-icon-menu {
  display: none;
}

.q-a-header-icon-button.is-open .q-a-header-icon-close {
  display: block;
}

.q-a-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px 20px;
  position: relative;
}

.q-a-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px 0 0 65px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(0, 109, 65, 1);
}

.q-a-navigation-list.is-open {
  right: 0;
}

.q-a-navigation-link {
  font-family: Inter;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.q-a-navigation-link:hover,
.q-a-navigatioт-link:focus {
  color: rgba(0, 0, 0, 1);
}

.q-a-header.is-open {
  background-color: transparent;
}

.q-a-navigation-img {
  display: none;
}

@media screen and (min-width: 1206px) {
  .q-a-navigation-img {
    display: flex;
    margin-right: 40px;
    height: 90px;
  }
  .q-a-policy-terms-header-icon-menu {
    display: none;
  }

  .q-a-header {
    width: 100%;
    height: 90px;
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: transparent;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.25);
  }

  .q-a-header-background {
  }
  .q-a-header-icon-button {
    display: none;
  }
  .q-a-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-a-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-a-navigation-link {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 5%;
    text-transform: uppercase;

    padding: 0px 20px;
    text-decoration: none;
  }

  .q-a-navigation-item-desk {
    display: none;
  }
}
.q-a-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/mob.jpg");
  width: 375px;
  margin: auto;
}

.q-a-home-container {
  width: 375px;
  padding: 103px 30px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.q-a-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.q-a-home-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
}
.q-a-home-titles {
  font-family: Inter;
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.q-a-home-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 123%;
  letter-spacing: 0%;
  padding: 28px 0;
}
.q-a-home-texts {
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 123%;
  letter-spacing: 0%;
  padding-bottom: 28px;
}

.q-a-home-google-button-image {
  width: 314px;
  height: 86px;
}

.q-a-home-google-button-link:hover .q-a-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.q-a-homeimage {
  width: 320.39453125px;
  height: 459.33331298828125px;
}
@media screen and (min-width: 1206px) {
  .q-a-main {
    background-image: url("/img/main.jpg");
    width: 1440px;
    margin: auto;
  }

  .q-a-home-container {
    width: 1440px;
    padding: 168px 80px 0px;
    margin: auto;
    flex-direction: row;
    gap: 60px;
  }

  .q-a-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .q-a-home-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 45px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .q-a-home-titles {
    font-family: Inter;
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .q-a-home-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 123%;
    letter-spacing: 0%;

    padding: 28px 0;
  }
  .q-a-home-texts {
    font-family: Inter;
    font-weight: 900;
    font-size: 24px;
    line-height: 123%;
    letter-spacing: 0%;

    padding-bottom: 28px;
  }

  .q-a-homeimage {
    width: 465px;
    height: 608.3333129882812px;
  }
}

.q-a-about-container {
  width: 375px;
  padding: 89px 20px 89px;
  margin: auto;
}
.q-a-about-title {
  font-family: Inter;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
  text-shadow: 0px 3.77px 3.77px rgba(0, 0, 0, 0.25);
}
.q-a-about-title-q {
  text-align: right;
}
.q-a-about-titlew {
  text-align: center;
}
.q-a-about-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 123%;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 24px 0 28px;
}

@media screen and (min-width: 1206px) {
  .q-a-about-container {
    width: 1440px;
    padding: 78px 80px;
  }
  .q-a-about-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .q-a-about-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 123%;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    padding: 28px 0 28px;
  }
}

.q-a-why-container {
  width: 375px;
  margin: auto;
  padding: 33px 23px 0;
}
.q-a-why-list {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.q-a-why-item {
  width: 328px;
  height: 183px;
  padding-top: 38px;
  padding-right: 12px;
  padding-bottom: 38px;
  padding-left: 12px;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(34.70000076293945px);
}
.q-a-why-text-bold {
  font-family: Inter;
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}
.q-a-why-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  padding-top: 16px;
}

.q-a-uniqueness-container {
  margin: auto;
  padding: 52px 0px 0;
}
.q-a-uniqueness-list {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.q-a-uniqueness-item {
  width: 319px;
  height: 182.8283233642578px;
  padding-top: 38px;
  padding-right: 18px;
  padding-bottom: 38px;
  padding-left: 18px;

  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(34.70000076293945px);
  color: rgba(0, 0, 0, 1);
}
.q-a-uniqueness-text-bold {
  font-family: Inter;
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.q-a-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 16px;
}
.q-a-div {
  display: none;
}
@media screen and (min-width: 1206px) {
  .q-a-why-container {
    width: 1440px;
    margin: auto;
    padding: 42px 176px 0;
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .q-a-div {
    display: flex;
    height: 938px;
    width: 2px;
    background: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    margin: 62px 0px 0;
  }
  .q-a-why-list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .q-a-why-item {
    width: 504px;
    height: 164px;
    padding-top: 38px;
    padding-right: 24px;
    padding-bottom: 38px;
    padding-left: 12px;
    border-radius: 24px;
  }

  .q-a-uniqueness-container {
    margin: 0;
    width: fit-content;
    padding: 0px 0px 0;
  }
  .q-a-uniqueness-list {
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .q-a-uniqueness-item {
    width: 504px;
    height: 164px;
    padding-top: 38px;
    padding-right: 18px;
    padding-bottom: 38px;
    padding-left: 18px;
    border-radius: 24px;
  }
  .q-a-uniqueness-text-bold {
    font-family: Inter;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .q-a-uniqueness-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 16px;
  }
}

.q-a-reviews-container {
  margin: auto;
  padding: 150px 0px 0;
  width: 375px;
}
.q-a-reviews-list {
  padding: 72px 0 0 0;
}
.q-a-reviews-lists {
  display: none;
}
.q-a-reviews-item {
  margin: 0 5px;
  color: rgba(255, 255, 255, 1);
  width: 375px;
  height: 540px;
  border-radius: 20px;
  padding: 40px;
  border: 1px solid rgba(38, 38, 38, 1);
  background: rgba(0, 109, 65, 1);
}

.q-a-reviews-item-top {
  display: flex;
  gap: 15px;
  align-items: center;
}

.q-a-reviews-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
}

.q-a-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;
  height: 270px;
  margin: 30px 0;
}

@media screen and (min-width: 1206px) {
  .q-a-reviews-container {
    margin: auto;
    padding: 72px 80px 0;
    width: 1440px;
  }
  .q-a-reviews-list {
    display: none;
  }
  .q-a-reviews-lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 46px;
    gap: 12px;
    row-gap: 32px;
  }
  .q-a-reviews-item {
    margin: 0;
    width: 418.6163635253906px;
    height: 484px;
    border-radius: 20px;
    padding: 40px;
  }

  .q-a-reviews-item-top {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .q-a-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    height: 216px;
    margin: 30px 0;
  }
  .q-a-reviews-itemq {
    width: 1280px;
    height: 322px;
  }
  .q-a-reviews-textq {
    height: 54px;
  }
}

.q-a-gallery-container {
  width: 375px;
  margin: auto;
  padding: 94px 0 0;
}

.q-a-gallery-item {
  width: 301.4213562011719px;
  height: 535.8601684570312px;
  border-radius: 15.73px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.q-a-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.q-a-gallery-link {
  display: none;
}

@media screen and (min-width: 1206px) {
  .q-a-gallery-link {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  .q-a-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 100px 0;
  }
  .q-a-gallery-item {
    width: 479px;
    height: 852px;
    border-radius: 25px;
  }

  .q-a-gallery-list {
  }
}

.q-a-policy-terms-container {
  padding: 124px 16px 40px;
  width: 375px;
  margin: auto;
  color: rgba(0, 109, 65, 1);
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
}

.q-a-policy-terms-title {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: 900;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.q-a-policy-terms-text {
  padding-top: 20px;
  font-family: Inter;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
}

.q-a-policy-terms-texts {
  padding-top: 8px;
}

.q-a-policy-terms-text-one {
  padding-top: 20px;
}

.q-a-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.q-a-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.q-a-email-link {
  color: inherit;
  text-decoration: none;
}

.q-a-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1206px) {
  .q-a-policy-terms-container {
    padding: 120px 80px 60px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  .q-a-policy-terms-title {
    font-family: Inter;
    font-weight: 900;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .q-a-policy-terms-text {
    padding-top: 40px;
    font-family: Inter;
    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  .q-a-policy-terms-text-one {
    padding-top: 30px;
  }

  .q-a-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.q-a-footer-container {
  width: 375px;
  padding: 60px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.q-a-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.q-a-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.q-a-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1206px) {
  .q-a-footer-container {
    width: 1440px;
    padding: 48px 94px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 170px;
  }

  .q-a-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 170px;
  }

  .q-a-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    leading-trim: Cap height;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-a-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    leading-trim: Cap height;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.q-a-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.q-a-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  color: rgba(24, 27, 29, 1);
}

.q-a-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.q-a-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 109, 65, 1);
  background: rgba(255, 255, 255, 1);
  width: 167.5px;
  border-radius: 4px;
  padding: 16px 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 109, 65, 1);
  text-transform: uppercase;
}

#accept-cookies {
  background: rgba(0, 109, 65, 1);

  color: rgba(255, 255, 255, 1);
  border: none;
}

.q-a-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1206px) {
  .q-a-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-a-cookie-popup-text-two {
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;

    width: 840px;
  }

  .q-a-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .q-a-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 40px;
    display: none;
  }
}
/*  */
